@()(implicit mainModel: sk.hrstka.models.ui.MainModel, request: RequestHeader)

@main("Hŕstka Eminencie", "xxx") {
    <h2>O Hŕstke</h2>
    <p>Hśtska vznikla z mojej potreby zistiť kde sa dá zamestnať, ak chcem
        <a href="@sk.hrstka.controllers.routes.CompController.cityTech("bratislava", "scala")">programovať v Scale a žiť
        v Bratislave</a>.</p>
    <p>Firmy sa na svojich stránkach venujú biznisu. Detaily o programovacích
        jazykoch, frameworkoch a tooloch, sa dajú dovtípiť len ak hľadajú nového zamestnanca. Jediná cesta bola rozprávať
        sa s kamarátmi, chodiť na programátorské stretnutia a pýtať sa. Zrazu som zistil, že je tu veľa zaujímavých
        firiem, kde sa neboja používať kvalitné technológie. To som hľadal. <strong>Technickú remeselnú
        kvalitu.</strong></p>

    <h3>Technológie</h3>
    <p>Spadajú pod nasledovné kategórie:</p>
    <ul class="list-unstyled">
        <li><span class="label label-default">platforma</span></li>
        <li><span class="label label-default">framework</span></li>
        <li><span class="label label-default">knižnica</span></li>
        <li><span class="label label-default">programovací jazyk</span></li>
        <li><span class="label label-default">databáza</span></li>
        <li><span class="label label-default">server</span></li>
        <li><span class="label label-default">nástroj</span></li>
        <li><span class="label label-default">metodológia</span></li>
        <li><span class="label label-default">doména</span></li>
        <li><span class="label label-default">iné</span></li>
    </ul>
    <h4>Ako eminenti hodnotia</h4>
    <p><strong>Ktoré sú dobré a ktoré zlé?</strong> Objektívne kritérium nepoznám, a tak je hodnotenie ponechané na tých, ktorých ja považujem
    za autority. Je to trocha sekta, ale na nič lepšie som neprišiel.</p>
    <p>Eminenti môžu každej technológii prideliť <strong>body od -1 do 3</strong>:</p>
    <ul class="list-unstyled">
        <li><strong>3</strong> - S týmto chcem pracovať! Je to skvelé a v danej kategórii nepoznám nič lepšie.</li>
        <li><strong>2</strong> - Môže byť. Nie je to naj, ale ide to.</li>
        <li><strong>1</strong> - Prežijem, ale už by sme mali prejsť na niečo lepšie.</li>
        <li><strong>0</strong> - Neviem, nemám záujem, je mi to jedno, nevyznám sa.</li>
        <li><strong>-1</strong> - Nikdy, radšej dám výpoveď.</li>
    </ul>
    <p>Cieľom nie je vymyslieť metriku na porovnanie lopát s cukríkmi. Ja osobne sa na to pozerám z pohľadu, že keby som
        si hľadal prácu, aká ponuka by mi hneď rozžiarila oči a čo by som rázne zatvoril. Iný pohľad môže byť, aké
        technológie by som si vybral, ak by som bol v rozhodovacej pozícii a mohol použiť čokoľvek. Eminenti sú ale
        eminentami práve preto, lebo im do týchto vecí nikto hovoriť nemusí a oni vedia ako hodnotiť.</p>
    <h4>Celkové hodnotenie technológii</h4>
    <p>Výsledkom hlasovania je <strong>číslo v intervale od 0 do 1</strong>, vypočítané podľa vzorca:
        <strong>suma kladných hlasov / (počet nenulových hlasov * 3)</strong></p>
    <p>Čiže technológia má plný počet ak všetci čo majú názor, dali plný počet bodov. To číslo je vlastne <strong>miera dobroty.</strong><p/>

    <h3>Firmy</h3>
    <h3>Eminenti</h3>
    <p>Programátori, ktorých rešpektujem. Neboja sa prejaviť svoj názor a vedia o ňom rozumne diskutovať. Vôbec to nemusí
    znamenať, že s nimi súhlasím. Častokrát robia open source, chodia na stretnutia, nájdete ich na StackOverflow, majú
    blog. Som rád, že sú.</p>
    <h3>Open data, open source</h3>
}