@()(implicit mainModel: sk.hrstka.models.ui.MainModel, request: RequestHeader)

@main {
    O Hŕstke
} {
    <p>Hŕstka vznikla z potreby zistiť kde sa dá zamestnať, ak chcem
        <a href="@sk.hrstka.controllers.routes.CompController.cityTech("bratislava", "scala")">programovať v Scale a žiť
        v Bratislave</a>. Firmy nemajú na svojich stránkach detaily o tom aké programovacie jazyky, frameworky a tooly
        interne používajú. Jediná cesta bola rozprávať sa s kamarátmi, chodiť na programátorské stretnutia a pýtať sa.
        Zrazu som zistil, že je tu veľa zaujímavých firiem, kde sa veci robia kvalitne a neboja sa experimentovať.</p>

    <h3>Hľadanie inakosti</h3>
    <p>Hŕstka chce zviditeľniť firmy, v ktorých je radosť programovať. To môže znamenať sídlo v rodnej obci, viac
    žien programátoriek, exotické technológie, podpora open sourcu, nekonvenčný mindset. Čokoľvek čo vás teší a súvisí
    to s programovaním.</p>

    <h3>Technologický profil</h3>
    <p>Bolo by krásne, ak by sa u nás každá firma vyrozprávala o tom, ako sa u nich programuje. Vymenovanie používaných
    technológii je fajn, ale krátka esej dokáže divy. Dobre napísaný profil sa dá použiť ako návnada v inzeráte na
    otvorenú pozíciu.</p>
    <p><em>"Väčšinu kódu máme
    v Jave. Frontend sú Windows aplikácie v .NETe, ale chceme prejsť na Scalu a webové uživateľské rozhranie. Databáza je
    Oracle ale experimentujeme s Mongom. Na buildovanie máme Gradle, repozitár je Subversion ale prechod na Git je
    neodvratný. Unit testov máme málo, väčšinou sú integračné. Máme výborného architekta, ktorý sa nebojí experimentovať
    a je otvorený novým nápadom."</em></p>
    <p></p>

    <h3>Cesta sa kľukatí, hmla je hustá</h3>
    <p>Ako správny open source a open data projekt, tak aj cieľ je otvorený. Keď už nič iné, tak aspoň budeme mať zoznam
    firiem kde sa programuje. Rád by som upriamil pozornosť na tie dobré, dobrota sa ale ťažko meria. Zaujíma ma
    technická remeselná kvalita. Výsledný produkt a najmä ľudia sú nakoniec najdôležitejší, ale ich hodnotiť si netrúfam.</p>

    <h3>Eminencia</h3>
    <p>Hodnotenie je ponechané ná vybranú hŕstku jednotlivcov. Je to trocha uzavretá sekta, ale nič lepšie som nevymyslel.
    Sú to programátori, ktorých rešpektujem. Neboja sa prejaviť svoj názor a vedia o ňom rozumne diskutovať. Vôbec to
    nemusí znamenať, že s nimi súhlasím. Častokrát robia open source, chodia na stretnutia, nájdete ich na StackOverflow,
    majú blog. Alebo ich ani nevygooglite ale okolie ich absolútne rešpektuje pre to čo dokážu. Som rád, že sú.</p>

    <h3>Otvor sa, bodni!</h3>
    <p>Udeľovanie bodov technológiám teda zabezpečuje hŕstka eminencie. Rozmýšľal som nad braním do úvahy počet bodov na
    StackOverflow alebo hviezdičiek na GitHube, ale zatiaľ má hlas každého eminenta rovnakú váhu.</p>

    <h3>Raz si hore, raz si dole</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Body</th>
                <th>Význam</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3</td>
                <td>S týmto chcem pracovať! Je to skvelé a v danej kategórii nepoznám nič lepšie.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Môže byť. Nie je to naj, ale ide to.</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Prežijem, ale už by sme mali prejsť na niečo lepšie.</td>
            </tr>
            <tr>
                <td>0</td>
                <td>Hlas nehlas, neberie sa do úvahy. Neviem, nemám záujem, je mi to jedno, nevyznám sa.</td>
            </tr>
            <tr>
                <td>-1</td>
                <td>S týmto ja nikdy robiť nebudem, radšej dám výpoveď.</td>
            </tr>
        </tbody>
    </table>
    <p>Cieľom nie je vymyslieť metriku na porovnanie lopát s cukríkmi. Osobne sa na to pozerám z pohľadu, že keby som
    si hľadal prácu, aká ponuka by mi hneď rozžiarila oči. Iný pohľad môže byť, aké technológie by som si vybral, ak by
    som bol v rozhodovacej pozícii a mohol použiť čokoľvek. Eminenti sú ale eminentami práve preto, lebo im do týchto
    vecí nikto hovoriť nemusí a majú vlastný názor.</p>

    <h3>Celkové hodnotenie =<br>suma kladných hlasov /<br>(počet nenulových hlasov * 3)</h3>
    <p>Čiže technológia má plný počet bodov, ak všetci čo majú názor, dali najvyššie hodnotenie. Miera dobroty je na svete!<p/>

    <h3>Firmy kde sa programuje</h3>
    <p>To čo nakoniec chceme sú ale informácie o firmách. Firmy ako také sa nehodnotia priamo. Ich bodová hodnota je
    číslo od 0 do 1, vypočítané nasledovným váženým súčtom:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Váha</th>
                <th>Hodnota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>70%</td>
                <td>Priemer celkových hodnotení technológii.</td>
            </tr>
            <tr>
                <td>10%</td>
                <td><a href="http://www.joelonsoftware.com/articles/fog0000000043.html">The Joel Test: 12 Steps to Better
                    Code</a>. Ďakujem <a href="https://www.facebook.com/jan.suchal">Janovi Suchalovi</a> za nápad.</td>
            </tr>
            <tr>
                <td>10%</td>
                <td>Pomer počtu žien programátoriek a mužov programátorov. Plný počet je pri pomere 1:1.</td>
            </tr>
            <tr>
                <td>10%</td>
                <td>Pomer počtu všetkých programátorov a všetkých zamestnancov. Plný počet ak sú všetci programátori. Ha!</td>
            </tr>
        </tbody>
    </table>

    <h3>Open data, open source, open mind</h3>
    <p>Prispejte nápadmi, kritikou, informáciami o firmách, pull requestami. Šírte a kričte do sveta. Všetko sa vám raz
    vráti.</p>

    <div id="about-contact">
        <h3>Rado Buranský</h3>
        <a href="mailto:rado@@buransky.com" rel="author" alt="email" title="email"><i class="fa fa-envelope"></i></a>
        <a href="https://www.facebook.com/buransky" rel="author" alt="Facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/radoburansky" rel="author" alt="Twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/u/0/+radoburansky" rel="author" alt="Google+" title="Google+"><i class="fa fa-google-plus"></i></a>
        <a href="https://github.com/RadoBuransky" rel="author" alt="GitHub" title="GitHub"><i class="fa fa-github"></i></a>
    </div>
}