@()(implicit mainModel: sk.hrstka.models.ui.MainModel, request: RequestHeader)

@main {
    Ako pridať firmu
} {
    <p>Napíšte mi mail na <a href="mailto:rado@@buransky.com">rado@@buransky.com</a> a pridajte nasledovné informácie:</p>
    <ul>
        <li>Názov</li>
        <li>Web</li>
        <li>Sídlo</li>
        <li>Identifikačné číslo organizácie (IČO)</li>
        <li>Programuje sa SW/HW produkt?</li>
        <li>Poskytujú sa SW/HW služby?</li>
        <li>Biznis firmy nie je IT ale má interné programátorské oddelenie?</li>
        <li>Počet všetkých zamestnancov, mužov programátorov, žien programátoriek</li>
        <li>Podiel obchodu so štátom na minuloročnom príjme firmy</li>
        <li>Ktoré body <a href="http://www.joelonsoftware.com/articles/fog0000000043.html" rel="nofollow">Joelovho testu</a> spĺňate?</li>
        <li>Zoznam technológii. Inšpirujte sa tu: <a href="http://stackoverflow.com/tags" rel="nofollow">StackOverflow tags</a></li>
    </ul>
    <p>Najväčší dôraz ale dajte na napísanie technologického profilu. Ten uvedie vymenované technológie do kontextu a
    vysvetlí ako sa používajú. Podporovaný je formát <a href="http://daringfireball.net/projects/markdown/" rel="nofollow">Markdown</a>,
    čiže môžete používať nadpisy, odseky, bold, ... a dokonca aj obrázky, ale umiestnené musia byť na vašom serveri.</p>
}