@()(implicit mainModel: sk.hrstka.models.ui.MainModel, request: RequestHeader)

@main{REST API} {
    <div>Hŕstka offers read-only data interface. Does not require authentication. Data are in JSON format.</div>

    <h3>GET companies</h3>
    <div>Gets list of all companies orderd by rating.</div>
    <div>URL: <a href="@sk.hrstka.controllers.routes.ApiController.comps.absoluteURL" rel="nofollow">@sk.hrstka.controllers.routes.ApiController.comps.absoluteURL</a></div>

    <h3>GET company/:businessNumber</h3>
    <div>Gets company for the given business number.</div>
    <div>URL: <a href="@sk.hrstka.controllers.routes.ApiController.comp(":businessNumber").absoluteURL" rel="nofollow">@sk.hrstka.controllers.routes.ApiController.comp(":businessNumber").absoluteURL</a></div>

    <h3>GET technologies</h3>
    <div>Gets list of all technologies ordered by rating.</div>
    <div>URL: <a href="@sk.hrstka.controllers.routes.ApiController.techs.absoluteURL" rel="nofollow">@sk.hrstka.controllers.routes.ApiController.techs.absoluteURL</a></div>

    <h3>GET technology/:handle</h3>
    <div>Gets technology for the given handle.</div>
    <div>URL: <a href="@sk.hrstka.controllers.routes.ApiController.tech(":handle").absoluteURL" rel="nofollow">@sk.hrstka.controllers.routes.ApiController.tech(":handle").absoluteURL</a></div>

    <h3>GET cities</h3>
    <div>Gets list of all cities.</div>
    <div>URL: <a href="@sk.hrstka.controllers.routes.ApiController.cities.absoluteURL" rel="nofollow">@sk.hrstka.controllers.routes.ApiController.cities.absoluteURL</a></div>
}