@(comp: sk.hrstka.models.ui.Comp, vote: Option[Int] = None)(implicit mainModel: sk.hrstka.models.ui.MainModel)

@import sk.hrstka.views.helpers.Formatting._

@main {
    @comp.name
    <a href="@comp.website" rel="nofollow">@comp.website</a>
    <div class="city">@comp.city.sk</div>
} {
<article class="comp-details">
    @if(comp.note.html.nonEmpty) {
        @Html(comp.note.html)
        <div class="dotted-separator">&nbsp;</div>
    }
    @if(comp.products || comp.services || comp.internal) {
        <h4>Zameranie</h4>
        @if(comp.products) {
        <div>Vývoj softvérových produktov</div>
        }
        @if(comp.services) {
        <div>Poskytovanie softvérových služieb</div>
        }
        @if(comp.internal) {
        <div>Interný vývoj</div>
        }
    }
    @if(comp.employeeCount.isDefined || comp.maleCodersCount.isDefined || comp.codersCount.isDefined) {
        <h4>Počet zamestnancov</h4>
        <ol class="list-unstyled">
        @if(comp.femaleCodersCount.isDefined) {
            <li>Žien programátoriek <span class="hrstka-emp-count">@comp.femaleCodersCount</span></li>
        }
        @if(comp.maleCodersCount.isDefined) {
            <li>Mužov programátorov <span class="hrstka-emp-count">@comp.maleCodersCount</span></li>
        } else {
            @if(comp.codersCount.isDefined) {
                <li>Všetkých programátorov <span class="hrstka-emp-count">@comp.codersCount</span></li>
            }
        }
        @if(comp.employeeCount.isDefined) {
            <li>Všetkých spolu <span class="hrstka-emp-count">@comp.employeeCount</span></li>
        }
        </ol>
    }
    <h4>Identifikačné číslo organizácie (IČO)</h4>
    <div><a href="http://finstat.sk/@comp.businessNumber" rel="nofollow">@comp.businessNumber</a></div>
    @if(comp.govBiz.isDefined) {
        <h4>Podiel obchodu so štátom na minuloročnom príjme firmy</h4>
        @govBizToString(comp.govBiz)
    }
    @if(comp.joel.nonEmpty) {
        <a href="http://www.joelonsoftware.com/articles/fog0000000043.html" rel="nofollow"><h4>The Joel Test</h4></a>
        <ol class="list-unstyled">
        @for(j <- comp.joel) {
            <li><span class="hrstka-joel">@j._1</span>@j._2</li>
        }
        </ol>
    }
    @if(comp.techRatings.nonEmpty) {
        <ol class="list-unstyled">
        @for(techRating <- comp.techRatings) {
            @if(techRating == comp.techRatings.head) {
                <h4>Technológie</h4>
            }
            <li>
                <a href="@techRating.tech.website" rel="nofollow"><span class="hrstka-tech">@techRating.tech.name</span></a>
            </li>
        }
        </ol>
    }
    @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
        <div id="eminence-section">
            <div class="dotted-separator">&nbsp;</div>
            <span class="voting">
                <a class="vote-minus-btn" role="button" href="@sk.hrstka.controllers.auth.routes.AuthCompController.voteDown(comp.businessNumber)">-</a>
                <span class="vote-value">@vote.getOrElse(0)</span>
                <a class="vote-plus-btn" role="button" href="@sk.hrstka.controllers.auth.routes.AuthCompController.voteUp(comp.businessNumber)">+</a>
            </span>
            <a href="@sk.hrstka.controllers.auth.routes.AuthCompController.editForm(comp.businessNumber)"
               class="comp-edit-btn">Upraviť</a>
        </div>
    }
</article>
}
