@(comp: sk.hrstka.models.ui.Comp, vote: Option[Int] = None)(implicit mainModel: sk.hrstka.models.ui.MainModel)

@main(comp.name) {
<article class="comp-details">
    <div><a href="@comp.website" rel="nofollow">@comp.website</a></div>
    <div class="hrstka-city">@comp.city.sk</div>
    @if(comp.note.nonEmpty) {
        <div class="container-fluid">@Html(comp.note)</div>
    }
    <div class="container-fluid">
        <ul>
            @if(comp.products) {
            <li>Vývoj softvérových produktov</li>
            }
            @if(comp.services) {
            <li>Poskytovanie softvérových služieb</li>
            }
            @if(comp.internal) {
            <li>Interný vývoj</li>
            }
        </ul>
    </div>
    <div class="container-fluid">
        @if(comp.employeeCount.isDefined) {
        <div class="row">
            <div class="col-sm-5 col-lg-4">Všetkých zamestnancov:</div>
            <div class="col-sm-1"><span class="hrstka-emp-count">@comp.employeeCount</span></div>
        </div>
        }
        @if(comp.maleCodersCount.isDefined) {
        <div class="row">
            <div class="col-sm-5 col-lg-4">Mužov programátorov:</div>
            <div class="col-sm-1"><span class="hrstka-emp-count">@comp.maleCodersCount</span></div>
        </div>
        } else {
            @if(comp.codersCount.isDefined) {
            <div class="row">
                <div class="col-sm-5 col-lg-4">Všetkých programátorov:</div>
                <div class="col-sm-1"><span class="hrstka-emp-count">@comp.codersCount</span></div>
            </div>
            }
        }
        @if(comp.femaleCodersCount.isDefined) {
        <div class="row">
            <div class="col-sm-5 col-lg-4">Žien programátoriek:</div>
            <div class="col-sm-1"><span class="hrstka-emp-count">@comp.femaleCodersCount</span></div>
        </div>
        }
    </div>
    @if(comp.joel.nonEmpty) {
    <div class="container-fluid">
        @for(j <- comp.joel) {
        <div class="row">
            <div class="col-sm-3">
            @if(j == comp.joel.head) {
                <a href="http://www.joelonsoftware.com/articles/fog0000000043.html" rel="nofollow">The Joel Test</a>:
            }
            </div>
            <div class="col-sm-9"><span class="hrstka-joel">@j._1</span>@j._2</div>
        </div>
        }
    </div>
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                Podiel obchodu so štátom na minuloročnom obrate firmy:
            </div>
            <div class="col-sm-9">
                @comp.govRevenue
            </div>
        </div>
    </div>
    @if(comp.techRatings.nonEmpty) {
    <div class="container-fluid">
        @for(techRating <- comp.techRatings) {
        <div class="row">
            <div class="col-sm-3 col-md-2">@if(techRating == comp.techRatings.head) { Technológie: }</div>
            <div class="col-sm-3"><span class="hrstka-tech">@techRating.tech.name</span></div>
        </div>
        }
    </div>
    }
    @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
        <div>
            @comp.rating
            @vote.getOrElse(0)
            <a class="btn btn-success" role="button" href="@sk.hrstka.controllers.auth.routes.AuthCompController.voteUp(comp.id)">Plus</a>
            <a class="btn btn-danger" role="button" href="@sk.hrstka.controllers.auth.routes.AuthCompController.voteDown(comp.id)">Mínus</a>
        </div>
        <div><a href="@sk.hrstka.controllers.auth.routes.AuthCompController.editForm(comp.id)">Upraviť</a></div>
    }
</article>
}
