@(compRatings: Seq[sk.hrstka.models.ui.CompRating])(implicit mainModel: sk.hrstka.models.ui.MainModel)

@import sk.hrstka.views.helpers.Formatting._

@for(compRating <- compRatings) {
<article class="comp">
    <header>
        <h3>
            <a href="@sk.hrstka.controllers.routes.CompController.get(compRating.comp.businessNumber)">@compRating.comp.name</a>
            @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
                <span class="hrstka-comp-rating">@sk.hrstka.models.ui.Comp.format.format(compRating.value)%</span>
            }
            @if(mainModel.city.isEmpty) { <div class="city">@compRating.comp.city.sk</div> }
        </h3>
    </header>
    @if(compRating.comp.techRatings.nonEmpty) {
    <div class="techs">
        @for(techRating <- compRating.comp.techRatings) {
        <span class="hrstka-tech">@techRating.tech.name</span>
        }
    </div>
    }
    @if(compRating.comp.govBiz.nonEmpty) {
    <div class="comp-line">
        @if(compRating.comp.govBiz.getOrElse(1) == 0) {
            No business with government
        } else {
            Business with government <span class="hrstka-govBiz">@govBizToString(compRating.comp.govBiz)</span> of last year's income
        }
    </div>
    }
    @if(compRating.comp.joel.nonEmpty) {
    <div class="comp-line">
        The Joel Test
        @for(j <- compRating.comp.joel) {
        <span class="hrstka-joel">@j._1</span>
        }
    </div>
    }
    <div class="comp-line">
        <span class="comp-count"><span class="hrstka-emp-count">@compRating.comp.femaleCodersCount</span> female programmers</span>
        <span class="comp-count"><span class="hrstka-emp-count">@compRating.comp.maleCodersCount</span> male programmers</span>
        <span class="comp-count"><span class="hrstka-emp-count">@compRating.comp.employeeCount</span> employees</span>
    </div>
    <div id="comp-separator"></div>
</article>
}
