@(comp: sk.hrstka.models.ui.Comp, vote: Option[Int] = None)(implicit mainModel: sk.hrstka.models.ui.MainModel)

@import sk.hrstka.views.helpers.Formatting._

@main {
    @comp.name
    <a href="@comp.website" rel="nofollow">@comp.website</a>
    <div class="city">@comp.city.sk</div>
} {
<article class="comp-details">
    @if(comp.note.html.nonEmpty) {
        <div class="container-fluid">@Html(comp.note.html)</div>
        <div class="dotted-separator">&nbsp;</div>
    }
    <div class="container-fluid">
    @if(comp.products || comp.services || comp.internal) {
        <h4>Zameranie</h4>
        @if(comp.products) {
        <div>Vývoj softvérových produktov</div>
        }
        @if(comp.services) {
        <div>Poskytovanie softvérových služieb</div>
        }
        @if(comp.internal) {
        <div>Interný vývoj</div>
        }
    }
    @if(comp.employeeCount.isDefined || comp.maleCodersCount.isDefined || comp.codersCount.isDefined) {
        <h4>Počet zamestnancov</h4>
        @if(comp.femaleCodersCount.isDefined) {
            <div>Žien programátoriek <span class="hrstka-emp-count">@comp.femaleCodersCount</span></div>
        }
        @if(comp.maleCodersCount.isDefined) {
            <div>Mužov programátorov <span class="hrstka-emp-count">@comp.maleCodersCount</span></div>
        } else {
            @if(comp.codersCount.isDefined) {
                <div>Všetkých programátorov <span class="hrstka-emp-count">@comp.codersCount</span></div>
            }
        }
        @if(comp.employeeCount.isDefined) {
            <div>Všetkých spolu <span class="hrstka-emp-count">@comp.employeeCount</span></div>
        }
    }
    <h4>Identifikačné číslo organizácie (IČO)</h4>
    <a href="http://finstat.sk/@comp.businessNumber" rel="nofollow"><div>@comp.businessNumber</div></a>
    @if(comp.govBiz.isDefined) {
        <h4>Podiel obchodu so štátom na minuloročnom obrate firmy</h4>
        @govBizToString(comp.govBiz)
    }
    @if(comp.joel.nonEmpty) {
        <a href="http://www.joelonsoftware.com/articles/fog0000000043.html" rel="nofollow"><h4>The Joel Test</h4></a>
        @for(j <- comp.joel) {
        <div><span class="hrstka-joel">@j._1</span>@j._2</div>
        }
    }
    @if(comp.techRatings.nonEmpty) {
        @for(techRating <- comp.techRatings) {
            @if(techRating == comp.techRatings.head) {
                <h4>Technológie</h4>
            }
            <a href="@techRating.tech.website" rel="nofollow"><div class="hrstka-tech">@techRating.tech.name</div></a>
        }
    }
    @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
        <div>
            @vote.getOrElse(0)
            <a class="btn btn-success" role="button" href="@sk.hrstka.controllers.auth.routes.AuthCompController.voteUp(comp.businessNumber)">Plus</a>
            <a class="btn btn-danger" role="button" href="@sk.hrstka.controllers.auth.routes.AuthCompController.voteDown(comp.businessNumber)">Mínus</a>
        </div>
        <a href="@sk.hrstka.controllers.auth.routes.AuthCompController.editForm(comp.businessNumber)"
           class="comp-edit-btn">Upraviť</a>
    }
    </div>
</article>
}
