@(compRatings: Seq[sk.hrstka.models.ui.CompRating])(implicit mainModel: sk.hrstka.models.ui.MainModel)

@import sk.hrstka.views.helpers.Formatting._

@for(compRating <- compRatings) {
<article class="comp">
    <header>
        <h3>
            <a href="@sk.hrstka.controllers.routes.CompController.get(compRating.comp.businessNumber)">@compRating.comp.name</a>
            @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
                <span class="hrstka-comp-rating">@sk.hrstka.models.ui.Comp.format.format(compRating.value)%</span>
            }
            <span class="city">@compRating.comp.cities.map(_.en).mkString(", ")</span>
        </h3>
    </header>
    @if(compRating.comp.techRatings.nonEmpty) {
        <div class="techs">
            @for(tag <- compRating.comp.tags) {
                <span class="hrstka-comp-tag">@tag.name</span>
            }
            @for(techRating <- compRating.comp.techRatings) {
                @if(!compRating.comp.tags.exists(_.name.toLowerCase == techRating.tech.handle)) {
                    <a href="@sk.hrstka.controllers.routes.CompController.cityTech(sk.hrstka.controllers.impl.CompControllerImpl.anywhere, techRating.tech.handle)">
                        <span class="hrstka-tech">@techRating.tech.name</span>
                    </a>
                }
            }
        </div>
    }
    @if(compRating.comp.govBiz.getOrElse(0) != 0) {
    <div class="comp-line">
        Business with government <span class="hrstka-govBiz">@govBizToString(compRating.comp.govBiz)</span> of last year's income
    </div>
    }
    <div class="comp-line">
    @if(compRating.comp.joel.nonEmpty) {
        <span class="joel"><span class="hrstka-joel-perc">@((100 * compRating.comp.joel.size) / 12)%</span> The Joel Test</span>
    }
    @if(compRating.comp.employeeCount.isDefined || compRating.comp.maleCodersCount.isDefined || compRating.comp.codersCount.isDefined) {
        @if(compRating.comp.employeeCount.isDefined) {
        <span class="comp-count">
            <span class="hrstka-emp-count">@compRating.comp.employeeCount</span>
            @if(compRating.comp.femaleCodersCount.isDefined && compRating.comp.femaleCodersCount.get > 0) {
                / <span class="hrstka-emp-count" data-toggle="tooltip" title="Women programmers">@compRating.comp.femaleCodersCount</span>
            }
            @if(compRating.comp.maleCodersCount.isDefined) {
                / <span class="hrstka-emp-count" data-toggle="tooltip" title="Men programmers">@compRating.comp.maleCodersCount</span>
            }
            employees
        </span>
        }
    }
    </div>
</article>
}
