@(headline: Html)(content: Html)(implicit mainModel: sk.hrstka.models.ui.MainModel)

<!DOCTYPE html>

<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hŕstka</title>
    <meta name="description" content="Hŕstka programátorských dobrôt"/>
    <meta name="author" content="Rado Buranský"/>
    <meta name="copyright" content="Rado Buranský"/>
    <meta name="application-name" content="Hŕstka"/>
    <link rel="author" href="https://plus.google.com/+radoburansky/"/>

    <!-- Facebook -->
    <!--
    <meta property="og:title" content="Hŕstka"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://jugjane.com/assets/images/jugjane_big.png"/>
    <meta property="og:description" content="@headline"/>
    <meta property="fb:admins" content="608441607" />
    -->

    <!-- Twitter -->
    <!--
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Hŕstka">
    <meta name="twitter:description" content="@headline">
    <meta name="twitter:image" content="http://jugjane.com/assets/images/jugjane_big.png"/>
    -->

    <!-- Styles -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet", type="text/css">

    <!--
    <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="http://hrstka.sk/assets/images/he.png" alt="Hŕstka"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@sk.hrstka.controllers.routes.CompController.women">Ženy</a></li>
                    <li><a href="@sk.hrstka.controllers.routes.AppController.api">API</a></li>
                    <li><a href="https://github.com/RadoBuransky/hrstka.sk" rel="nofollow"><i class="fa fa-github"></i> GitHub</a></li>
                    <li><a href="@sk.hrstka.controllers.routes.AppController.about">O Hŕstke</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@sk.hrstka.controllers.routes.AppController.addCompInfo">+ Pridať firmu</a></li>
                    @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @mainModel.user.get.email.value<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@sk.hrstka.controllers.auth.routes.AuthCompController.addForm">Pridať firmu</a></li>
                            <li><a href="@sk.hrstka.controllers.auth.routes.AuthTechController.all">Technológie</a></li>
                            @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Admin)) {
                                <li><a href="@sk.hrstka.controllers.auth.routes.AuthController.register">Pridať eminenta</a></li>
                            }
                            <li class="divider"></li>
                            <li><a href="@sk.hrstka.controllers.auth.routes.AuthController.logout">Odhlásiť</a></li>
                        </ul>
                    </li>
                    } else {
                        @if(mainModel.mode == play.api.Mode.Dev) {
                            <li><a href="@sk.hrstka.controllers.auth.routes.AuthController.login">Prihlásiť</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <nav id="sidebar">
            <header>
                <a href="/">
                    <h1>Hŕstka</h1>
                    <img src="http://hrstka.sk/assets/images/he.png">
                </a>
                <p>PROGRAMÁTORSKÝCH DOBRÔT</p>
            </header>
            <section id="section-cities">
                <h2>MESTÁ</h2>
                <nav>
                    <ol>
                    @for(city <- mainModel.cities) {
                        <li>
                            <a href="@sk.hrstka.controllers.routes.CompController.cityTech(city.handle, "")">
                                @city.sk
                            </a>
                        </li>
                    }
                    </ol>
                </nav>
            </section>
            <section id="section-techs">
                <h2>TECHNOLÓGIE</h2>
                <nav>
                    <ol>
                    @for(techRating <- mainModel.techRatings) {
                        <li>
                            @if(mainModel.cities.isEmpty) {
                                @techRating.tech.handle
                            } else {
                            <a href="@sk.hrstka.controllers.routes.CompController.cityTech(mainModel.city.getOrElse(mainModel.cities.head.handle), techRating.tech.handle)"
                               style="opacity: @((techRating.value / 143.0) + 0.3);">
                                @techRating.tech.name
                            </a>
                            }
                        </li>
                    }
                    </ol>
                </nav>
            </section>
        </nav>
        <section id="content">
            <header>
                <h2>@headline</h2>
                <div id="headline-separator">&nbsp;</div>
            </header>
            @content
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>