@(headline: String, comps: Seq[models.ui.Comp])

<header>
    <h2>@headline</h2>
    <p>Zoradené podľa hodnotenia.</p>
</header>
@for(comp <- comps) {
<article>
    <h3><a href="@controllers.routes.CompController.get(comp.id)">@comp.name</a></h3>
    <div>@comp.city.sk</div>
    <div>Zamestnanci / programátori / programátorky: @comp.employeeCount / @comp.codersCount / @comp.femaleCodersCount</div>
    <div>Top techs: @comp.techs.take(10).mkString(" ")</div>
    <div>Produkty / služby / internal: @comp.products / @comp.services / @comp.internal </div>
    <div>Joel's test: @comp.joel.toList.sorted.map(_ + 1).mkString(", ")</div>
    <div><a href="@controllers.auth.routes.AuthCompController.editForm(comp.id)">Upraviť</a></div>
</article>
}
