@(comps: Seq[sk.hrstka.models.ui.Comp])(implicit mainModel: sk.hrstka.models.ui.MainModel)

@for(comp <- comps) {
<article class="comp">
    <header>
        <h3>
            <a href="@sk.hrstka.controllers.routes.CompController.get(comp.id)">@comp.name</a>
            @if(mainModel.city.isEmpty) { <span class="city">@comp.city.sk</span> }
        </h3>
    </header>
    @if(comp.techRatings.nonEmpty) {
    <div class="techs">
        @for(techRating <- comp.techRatings) {
        <span class="hrstka-tech">@techRating.tech.name</span>
        }
    </div>
    }
    <div class="comp-line">
        <span class="comp-count"><span class="hrstka-emp-count">@comp.femaleCodersCount</span> programátoriek</span>
        <span class="comp-count"><span class="hrstka-emp-count">@comp.maleCodersCount</span> programátorov</span>
        <span class="comp-count"><span class="hrstka-emp-count">@comp.employeeCount</span> zamestnancov</span>
    </div>
    @if(comp.joel.nonEmpty) {
    <div class="comp-line">
        The Joel Test
        @for(j <- comp.joel) {
        <span class="hrstka-joel">@j._1</span>
        }
    </div>
    }
    @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
        <div><a href="@sk.hrstka.controllers.auth.routes.AuthCompController.editForm(comp.id)">Upraviť</a></div>
    }
    <div id="comp-separator"></div>
</article>
}
