@(headline: String, comps: Seq[sk.hrstka.models.ui.Comp])(implicit mainModel: sk.hrstka.models.ui.MainModel)

<header>
    <h2>@headline</h2>
</header>
@for(comp <- comps) {
<article>
    <h3><a href="@sk.hrstka.controllers.routes.CompController.get(comp.id)">@comp.name</a></h3>
    @if(mainModel.city.isEmpty) {
        <div>@comp.city.sk</div>
    }
    <div>Zamestnanci / programátori / programátorky: @comp.employeeCount / @comp.codersCount / @comp.femaleCodersCount</div>
    <div>Top techs: @comp.techs.take(10).mkString(" ")</div>
    <div>Produkty / služby / internal: @comp.products / @comp.services / @comp.internal </div>
    <div>Joel's test: @comp.joel.toList.sorted.map(_ + 1).mkString(", ")</div>
    @if(mainModel.user.isDefined && mainModel.user.get.role.isA(sk.hrstka.models.domain.Eminent)) {
        <div><a href="@sk.hrstka.controllers.auth.routes.AuthCompController.editForm(comp.id)">Upraviť</a></div>
    }
</article>
}
