@(comp: Option[sk.hrstka.models.ui.Comp], techs: Seq[(String, Boolean)], joelQuestions: List[String], action: Call)(implicit mainModel: sk.hrstka.models.ui.MainModel)

@sk.hrstka.views.html.main {
    Add / edit company
} {
    <form action="@action" method="post">
        <div class="form-group">
            <label for="compName">Name</label>
            <input type="text" class="form-control" id="compName" name="compName" value="@comp.map(_.name)" required />
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input type="url" class="form-control" id="website" name="website" value="@comp.map(_.website)" required />
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" value="@comp.map(_.city.sk)" required />
        </div>
        <div class="form-group">
            <label for="note">Markdown profile</label>
            <textarea class="form-control" id="note" name="note" rows="25">@comp.map(_.note.markdown)</textarea>
        </div>
        <div class="form-group">
            <label>Business</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="products" name="products" value="true" @if(comp.map(_.products).getOrElse(false)) { checked } /> SW/HW product (web, app, ...)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="services" name="services" value="true" @if(comp.map(_.services).getOrElse(false)) { checked } /> SW/HW services (custom SW development, customer's HW maintenance, ...)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="internal" name="internal" value="true" @if(comp.map(_.internal).getOrElse(false)) { checked } /> Internal SW/HW department (company business is not IT)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="codersCount">Employee count</label>
            <input type="number" class="form-control" id="employeeCount" name="employeeCount" value="@comp.map(_.employeeCount)" />
        </div>
        <div class="form-group">
            <label for="codersCount">Coders count</label>
            <input type="number" class="form-control" id="codersCount" name="codersCount" value="@comp.map(_.codersCount)" />
        </div>
        <div class="form-group">
            <label for="femaleCodersCount">Female coders count</label>
            <input type="number" class="form-control" id="femaleCodersCount" name="femaleCodersCount" value="@comp.map(_.femaleCodersCount)" />
        </div>
        <div class="form-group">
            <label for="businessNumber">Business number</label>
            <input type="text" class="form-control" id="businessNumber" name="businessNumber" value="@comp.map(_.businessNumber)" required />
        </div>
        <div class="form-group">
            <label for="govBiz">Last year's business with government</label>
            <input type="number" class="form-control" id="govBiz" name="govBiz" value="@comp.map(_.govBiz)" />
        </div>
        <div class="form-group">
            <label>
                <a href="http://www.oelonsoftware.com/articles/fog0000000043.html" target="_blank">The Joel Test</a>
            </label>
            <ol>
            @for(joelQuestion <- joelQuestions.zipWithIndex) {
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="joel[]" value="@joelQuestion._2" @if(comp.map(_.joel.exists(_._1 == (joelQuestion._2 + 1))).getOrElse(false)) { checked } /> @joelQuestion._1
                        </label>
                    </div>
                </li>
            }
            </ol>
        </div>
        <div class="form-group">
            <label>Technologies</label>
            @for(tech <- techs) {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="techs[]" value="@tech._1" @if(tech._2) { checked } /> @tech._1
                </label>
            </div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}
