@(form: Form[sk.hrstka.controllers.auth.LoginForm])(implicit mainModel: sk.hrstka.models.ui.MainModel)

@sk.hrstka.views.html.main {
    Prihlasovanie pre eminentov
} {
    <form action="@sk.hrstka.controllers.auth.routes.AuthController.authenticate()" method="post">
        @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
        </div>
        <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </div>
        <button class="btn btn-primary" type="submit">Prihlásiť</button>
    </form>
}
