@(msg: Option[String],
  techRatings: Seq[sk.hrstka.models.ui.TechRating],
  techVotes: Map[String, Int],
  techCategories: Seq[sk.hrstka.models.ui.TechCategory])(implicit mainModel: sk.hrstka.models.ui.MainModel)

@sk.hrstka.views.html.main("Hŕstka Eminencie", "xxx") {
    <form action="@sk.hrstka.controllers.auth.routes.AuthTechController.add" method="post">
        <div class="form-group">
            <label for="categoryHandle">Kategória:</label>
            <select class="form-control" id="categoryHandle" name="categoryHandle" required>
                @for(techCategory <- techCategories) {
                    <option value="@techCategory.handle">@techCategory.en</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="name">Názov:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="website">Website:</label>
            <input type="url" class="form-control" id="website" name="website" required>
        </div>
        <button type="submit" class="btn btn-default">Pridať</button>
    </form>

    <h2>Technológie</h2>
    @for(techCategory <- techCategories) {
        <h3>@techCategory.en</h3>
        <ul>
        @for(techRating <- techRatings.filter(_.tech.categoryHandle == techCategory.handle)) {
            <li>
                <a href="@techRating.tech.website" target="_blank">@techRating.tech.name</a>
                @techRating.value
                @techVotes.get(techRating.tech.id).getOrElse(0)
                <a class="btn btn-success" role="button" href="@sk.hrstka.controllers.auth.routes.AuthTechController.voteUp(techRating.tech.id)">Plus</a>
                <a class="btn btn-danger" role="button" href="@sk.hrstka.controllers.auth.routes.AuthTechController.voteDown(techRating.tech.id)">Mínus</a>
                <a class="btn" role="button" href="@sk.hrstka.controllers.auth.routes.AuthTechController.remove(techRating.tech.handle)">Zmazať</a>
            </li>
        }
        </ul>
    }
}