@import "bootstrap/bootstrap.less";

@hrstka-color-pink: #FA1E64;
@hrstka-color-blue: #2800D7;
@hrstka-color-orange: #FF433D;
@hrstka-color-grey: #262626;
@hrstka-color-azure: #00B9E7;

@hrstka-color-city: @hrstka-color-azure;
@hrstka-color-comp: @hrstka-color-blue;

body {
    -webkit-font-smoothing: antialiased;
}

#content {
    overflow: hidden;
    padding-left: 30px;

    h2 {
        margin-top: 0;
        color: @hrstka-color-grey;
    }

    article.comp {
        header {
            margin-top: 20px;
            margin-bottom: 5px;
            clear: both;

            h3 {
                a {
                    color: @hrstka-color-comp;
                }
            }

            .city {
                float: right;
                color: @hrstka-color-city;
            }
        }

        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom-color: #000;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
    }

    #headline-separator {
        background: url('/assets/images/dot.png') repeat;
        height: 20px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

#sidebar {
    width: 255px;
    float: left;
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #c0c0c0;

    header {
        margin-bottom: 20px;

        h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 50px;
            color: @hrstka-color-pink;
            float: left;
        }

        img {
            margin-top: 9px;
            margin-left: 9px;
            height: 42px;
        }

        p {
            margin-top: 5px;
            color: #111111;
            font-size: 15px;
        }
    }

    h2 {
        font-size: 16px;
        margin-top: 0;
    }

    section {
        margin-bottom: 15px;

        h2 {
            padding-bottom: 7px;
            font-size: 22px;
            background-color: #fff;
            color: @hrstka-color-grey;
            border-bottom-color: #000;
            border-bottom-style: dotted;
            border-bottom-width: 1px
        }

        nav ol {
            .list-unstyled;

            li a {
                font-weight: 700;
            }
        }
    }


    #section-cities nav ol li a {
        color: @hrstka-color-city;
    }

    #section-techs nav ol li a {
        color: @hrstka-color-pink;
    }
}

.navbar {
    font-weight: 700;

    .navbar-brand img {
        width: 24px; height: 24px
    }
}