@import "bootstrap/bootstrap.less";

@hrstka-color-pink: #FA1E64;
@hrstka-color-blue: #2800D7;
@hrstka-color-orange: #FF433D;
@hrstka-color-grey: #262626;
@hrstka-color-azure: #00B9E7;
@hrstka-color-green: #1DCC92;

@hrstka-color-city: @hrstka-color-azure;
@hrstka-color-comp: @hrstka-color-blue;

body {
    -webkit-font-smoothing: antialiased;
    padding-bottom: 50px;
}

h1 {
   @media (min-width: @screen-sm-min) {
       font-size: 50px;
   }
   @media (max-width: @screen-sm-min) {
       font-size: 28px;
   }
}

h2 {
   @media (min-width: @screen-sm-min) {
       font-size: 22px;
   }
   @media (max-width: @screen-sm-min) {
       font-size: 18px;
   }
}

h3 {
   @media (min-width: @screen-sm-min) {
       font-size: 18px;
   }
   @media (max-width: @screen-sm-min) {
       font-size: 16px;
   }
}

h4 {
   @media (min-width: @screen-sm-min) {
       font-size: 16px;
   }
   @media (max-width: @screen-sm-min) {
       font-size: 14px;
   }
}

#content {
    @media (min-width: @screen-sm-min) {
        overflow: hidden;
        padding-left: 30px;
    }

    h2 {
        margin-top: 0;
        color: @hrstka-color-grey;
        position: relative;

        a {
            font-size: 14px;

            @media (max-width: @screen-xs-min) {
                display: block;
                clear: both;
            }
        }
    }

    .dotted-separator {
        background: url('/assets/images/dot.png') repeat;
        height: 11px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .solid-separator {
        background-color: @hrstka-color-blue;
        height: 11px;
    }

    #headline-separator {
        .solid-separator;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    h3 {
        a {
            color: @hrstka-color-comp;
        }
        color: @hrstka-color-comp;
    }

    header {
        margin-bottom: 5px;
        clear: both;
    }

    .cities {
        color: @hrstka-color-city;
        margin-top: 10px;
        margin-bottom: 10px;

        a {
            color: @hrstka-color-city;
        }
    }

    article.comp {
        h3 {
            margin-bottom: 0px;
            position: relative;
        }

        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom-color: #000;
        border-bottom-style: dotted;
        border-bottom-width: 1px;

        .hrstka-techs li {
            display: inline-block;
        }

        .joel {
            margin-right: 20px;
        }

        .comp-line {
            margin-top: 5px;
        }

        .comp-count {
            margin-right: 20px;
        }
    }

    article.comp-details {
        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .container-fluid:before {
            display: block;
        }

        h4 {
            margin-top: 30px;
            margin-bottom: 5px;
        }

        .comp-edit-btn {
            .btn;
            .btn-primary;
            float: right;
        }

        li {
            margin-bottom: 3px;
        }
    }

    #about-contact {
        text-align: right;

        h3 {
            color: @hrstka-color-pink;
        }

        i {
            font-size: 24px;
            margin-left: 20px;
            color: @hrstka-color-blue;
        }
    }

    .voting {
        .vote-value {
            font-weight: 700;
            font-size: 20px;
            margin-right: 15px;
        }

        .vote-plus-btn {
            .btn;
            .btn-default;
            .btn-success;
            margin-right: 15px;
        }

        .vote-minus-btn {
            .btn;
            .btn-default;
            .btn-danger;
            margin-right: 15px;
        }
    }
}

#sidebar {
    @media (min-width: @screen-xs-min) {
        float: left;
        padding-right: 30px;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #c0c0c0;
    }

    @media (min-width: @screen-sm-min) {
        width: 255px;
    }

    header {
        margin-bottom: 20px;

        h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            color: @hrstka-color-pink;
        }

        img {
            float: right;
            margin-top: 7px;
            margin-left: 9px;
            height: 42px;
        }

        p {
            margin-top: 5px;
            color: #111111;
            font-size: 15px;
        }
    }

    section {
        margin-bottom: 15px;

        h2 {
            padding-bottom: 7px;
            background-color: #fff;
            color: @hrstka-color-grey;
            border-bottom-color: #000;
            border-bottom-style: dotted;
            border-bottom-width: 1px;
            margin-top: 0;
        }

        nav ol {
            .list-unstyled;

            li a {
                font-weight: 700;
            }
        }
    }


    #section-cities nav ol li a {
        .hrstka-city;
    }

    #section-techs nav ol li a {
        .hrstka-tech
    }
}

.navbar {
    font-weight: 700;

    .navbar-brand img {
        width: 24px; height: 24px
    }
}

.hrstka-city {
    color: @hrstka-color-city;
    font-weight: 700;
}

.hrstka-tech {
    color: @hrstka-color-pink;
    font-weight: 700;
}

.hrstka-techs {
    .list-unstyled;

    margin-top: 10px;
    margin-bottom: 10px;

    li {
        a {
            color: @hrstka-color-pink;
            margin-right: 10px;
        }
    }
}

.hrstka-govBiz {
    .label;
    background-color: @hrstka-color-grey;
    font-weight: 700;
}

.hrstka-emp-count {
    .label;
    background-color: @hrstka-color-green;
    font-weight: 700;
}

.hrstka-joel-perc {
    .label;
    background-color: @hrstka-color-orange;
}

.hrstka-comp-rating {
    font-size: 14px;
    color: @hrstka-color-green;
}