@(lang: Lang, comp: Option[models.ui.Comp], techs: Seq[models.ui.Tech], action: Call)

@main("Hŕstka Eminencie", "xxx", lang) {
    <form action="@action" method="post">
        <div class="form-group">
            <label for="compName">Názov</label>
            <input type="text" class="form-control" id="compName" name="compName" value="@comp.map(_.name)">
        </div>
        <div class="form-group">
            <label for="website">Web</label>
            <input type="url" class="form-control" id="website" name="website" value="@comp.map(_.website)">
        </div>
        <div class="form-group">
            <label for="location">Sídlo</label>
            <input type="text" class="form-control" id="location" name="location" value="@comp.map(_.location)">
        </div>
        <div class="form-group">
            <label for="codersCount">Počet programátorov</label>
            <input type="number" class="form-control" id="codersCount" name="codersCount" value="@comp.map(_.codersCount)">
        </div>
        <div class="form-group">
            <label for="femaleCodersCount">Z toho žien</label>
            <input type="number" class="form-control" id="femaleCodersCount" name="femaleCodersCount" value="@comp.map(_.femaleCodersCount)">
        </div>
        <div class="form-group">
            <label for="note">Čo a ako sa programuje</label>
            <input type="text" class="form-control" id="note" name="note" value="@comp.map(_.note)">
        </div>
        @for(tech <- techs) {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="@tech.name" value="@tech.name" checked> @tech.name
                </label>
            </div>
        }
        <h2><a href="http://www.joelonsoftware.com/articles/fog0000000043.html" target="_blank">The Joel Test</a></h2>
        <ol>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel1" value="joel1" checked> Do you use source control?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel2" value="joel2" checked> Can you make a build in one step?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel3" value="joel3" checked> Do you make daily builds?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel4" value="joel4" checked> Do you have a bug database?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel5" value="joel5" checked> Do you fix bugs before writing new code?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel6" value="joel6" checked> Do you have an up-to-date schedule?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel7" value="joel7" checked> Do you have a spec?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel8" value="joel8" checked> Do programmers have quiet working conditions?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel9" value="joel9" checked> Do you use the best tools money can buy?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel10" value="joel10" checked> Do you have testers?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel11" value="joel11" checked> Do new candidates write code during their interview?
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="joel12" value="joel12" checked> Do you do hallway usability testing?
                    </label>
                </div>
            </li>
        </ol>
        <button type="submit" class="btn btn-default">Uložiť</button>
    </form>
}
