@(comp: sk.hrstka.models.ui.Comp)(implicit mainModel: sk.hrstka.models.ui.MainModel)

@main("Hŕstka Eminencie", "xxx") {
    <h2><a href="@comp.website" target="_blank">@comp.name</a></h2>
    <div>@comp.city.sk</div>
    <div>Zamestnanci / programátori / programátorky: @comp.employeeCount / @comp.codersCount / @comp.femaleCodersCount</div>
    <div>Techs: @comp.techs.mkString(" ")</div>
    <div>Produkty / služby / internal: @comp.products / @comp.services / @comp.internal </div>
    <div>Joel's test: @comp.joel.toList.sorted.map(_ + 1).mkString(", ")</div>
    <div>@comp.note</div>
    <div><a href="@controllers.auth.routes.AuthCompController.editForm(comp.id)">Upraviť</a></div>
}
