@(lang: Lang,
  comps: Seq[models.ui.Comp],
  cities: Seq[models.ui.City],
  city: Option[models.ui.City],
  q: Option[String])

@main("Hŕstka Eminencie", "xxx", lang) {
    @if(city.isEmpty) {
        <div>
            @for(city <- cities) {
            <span><a href="@AppLoader.routes.compController.cityTech(city.handle, "")">@city.sk</a></span>
            }
        </div>
        <h2>Firmy</h2>
    } else {
        <h2>Firmy v meste @city.get.sk</h2>
    }
    <form action="@AppLoader.routes.compController.all" method="get">
        <div class="form-group">
            <input type="text" class="form-control" id="q" name="q">
        </div>
        <button type="submit" class="btn btn-default">Hľadaj</button>
    </form>
    @if(q.isDefined) {
        <div>Vyhľadávanie <span style="font-weight: bold">@q.get</span></div>
    }
    <div><a href="@AppLoader.routes.compController.addForm">Pridať</a></div>
    <div>
        @for(comp <- comps) {
        <div>
            <a href="@comp.website" target="_blank">@comp.name</a>
            <div>@comp.city.sk, programátorov / z toho žien: @comp.codersCount / @comp.femaleCodersCount</div>
            <div>@comp.note</div>
            <div><a href="@AppLoader.routes.compController.editForm(comp.id)">Upraviť</a></div>
        </div>
        }
    </div>
}
