@(lang: Lang, comps: Seq[models.ui.Comp])

@main("Hŕstka Eminencie", "xxx", lang) {
    <h2>Firmy</h2>
    <div><a href="@AppLoader.routes.compController.addForm">Pridať</a></div>
    <div>
        @for(comp <- comps) {
        <div>
            <a href="@comp.website" target="_blank">@comp.name</a>
            <div>@comp.location, programátorov / z toho žien: @comp.codersCount / @comp.femaleCodersCount</div>
            <div>@comp.note</div>
            <div><a href="@AppLoader.routes.compController.editForm(comp.id)">Upraviť</a></div>
        </div>
        }
    </div>
}
