@(lang: Lang, comp: Option[models.ui.Comp])

@main("Hŕstka Eminencie", "xxx", lang) {
    <form action="@AppLoader.routes.compController.add" method="post">
        <div class="form-group">
            <label for="compName">Názov</label>
            <input type="text" class="form-control" id="compName" name="compName">
        </div>
        <div class="form-group">
            <label for="website">Web</label>
            <input type="url" class="form-control" id="website" name="website">
        </div>
        <div class="form-group">
            <label for="location">Sídlo</label>
            <input type="text" class="form-control" id="location" name="location">
        </div>
        <div class="form-group">
            <label for="codersCount">Počet programátorov</label>
            <input type="number" class="form-control" id="codersCount" name="codersCount">
        </div>
        <div class="form-group">
            <label for="femaleCodersCount">Z toho žien</label>
            <input type="number" class="form-control" id="femaleCodersCount" name="femaleCodersCount">
        </div>
        <div class="form-group">
            <label for="note">Čo a ako sa programuje</label>
            <input type="text" class="form-control" id="note" name="note">
        </div>
        <button type="submit" class="btn btn-default">Pridať</button>
    </form>
}
