@(lang: Lang, form: Form[controllers.LoginForm])

@main("Hŕstka Eminencie", "xxx", lang) {
    <form class="form-signin" action="@AppLoader.routes.authController.authenticate()" method="post">
        <h2>Prihlasovanie pre eminentov</h2>

        @form.globalError.map { error =>
        <p class="error">
            @error.message
        </p>
        }

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">
        <label for="password" class="sr-only">Heslo</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-primary btn-block" type="submit">Prihlásiť</button>
    </form>
}
