@(title: String, description: String)(content: Html)(implicit mainModel: models.ui.MainModel)

<!DOCTYPE html>

<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>
    <meta name="description" content="@description"/>
    <meta name="author" content="Rado Buranský"/>
    <meta name="copyright" content="Rado Buranský"/>
    <meta name="application-name" content="Hŕstka Eminencie"/>
    <link rel="author" href="https://plus.google.com/+radoburansky/"/>

    <!-- Facebook -->
    <!--
    <meta property="og:title" content="@title"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="http://jugjane.com/assets/images/jugjane_big.png"/>
    <meta property="og:description" content="@description"/>
    <meta property="fb:admins" content="608441607" />
    -->

    <!-- Twitter -->
    <!--
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
    <meta name="twitter:image" content="http://jugjane.com/assets/images/jugjane_big.png"/>
    -->

    <!-- Styles -->
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <!--
    <link rel="icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        #sidebar {
            float: left;
            width: 180px;
        }

        #sidebar h2 {
            font-size: 16px;
            margin-top: 0;
        }

        .sidebar-section {
            margin-bottom: 15px;
        }

        .sidebar-heading {
            color: white;
            background-color: black;
        }

        .sidebar-item {
            padding: 3px;
        }

        #content {
            overflow: hidden;
            padding-left: 15px;
        }

        #content h2 {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="http://hrstka.sk/assets/images/he.png" alt="Hŕstka Eminencie" style="width: 24px; height: 24px"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="@AppLoader.routes.compController.women">Ženy</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="https://github.com/RadoBuransky/hrstka.sk">GitHub</a></li>
                    <li><a href="">O hŕstke</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if(mainModel.user.isDefined && mainModel.user.get.role == models.domain.Admin) {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @mainModel.user.get.email<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@AppLoader.routes.authCompController.addForm">Pridať firmu</a></li>
                            <li><a href="@AppLoader.routes.authTechController.all">Technológie</a></li>
                            <li class="divider"></li>
                            <li><a href="@AppLoader.routes.authController.logout">Odhlásiť</a></li>
                        </ul>
                    </li>
                    } else {
                    <li><a href="#">+ Pridať firmu</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <header>
            <h1>Hŕstka Eminencie</h1>
            <p>Programátorské lahôdky.</p>
        </header>
        <nav id="sidebar">
            <section>
                <h2 class="sidebar-item sidebar-heading">Mestá</h2>
                <nav class="sidebar-section">
                    <ol>
                    @for(city <- mainModel.cities) {
                        <li class="sidebar-item">
                            <a href="@AppLoader.routes.compController.cityTech(city.handle, "")">
                                @city.sk
                            </a>
                        </li>
                    }
                    </ol>
                </nav>
            </section>
            <section>
                <h2 class="sidebar-item sidebar-heading">Technológie</h2>
                <nav class="sidebar-section">
                    <ol>
                    @for(tech <- mainModel.techs) {
                        <li class="sidebar-item">
                            <a href="@AppLoader.routes.compController.cityTech(mainModel.city.getOrElse(mainModel.cities.head.handle), tech.handle)">
                                @tech.handle
                            </a>
                        </li>
                    }
                    </ol>
                </nav>
            </section>
        </nav>
        <section id="content">@content</section>
    </div>

    <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
    <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
</body>
</html>