@(lang: Lang, msg: Option[String], techs: Seq[models.ui.Tech])

@main("Hŕstka Eminencie", "xxx", lang) {
    <h2>Technológie</h2>
    @if(msg.isDefined) {
    <h3>@msg</h3>
    }
    <form action="@AppLoader.routes.techController.insert" method="post" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="techName" name="techName">
        </div>
        <button type="submit" class="btn btn-default">Pridať</button>
    </form>

    <div>
    @for(tech <- techs) {
        <div>
            @tech.rating%
            @tech.name
            @if(tech.canVoteUp) {
                <a href="@AppLoader.routes.techController.voteUp(tech.id)">Up</a>
            }
            @if(tech.canVoteDown) {
                <a href="@AppLoader.routes.techController.voteDown(tech.id)">Down</a>
            }
        </div>
    }
    </div>
}